# ==============================================================================
# Database Configuration
# ==============================================================================
DB_USER=postgres
DB_PASSWORD=replace_this_with_a_secure_password
DB_NAME=game-insights-db
DB_PORT=5432
DB_HOST=localhost

# ==============================================================================
# Application Lifecycle Settings
# ==============================================================================
# Set to 'False' if you want to prevent the API from auto-seeding the database
# from the remote CORGIS dataset on startup if tables are cleared out.
AUTO_SEED=True